/* Général ------------------------------------------------------------------------------------- */

body{
    margin:0;
    padding:0;
}


body, a, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
    text-decoration: none;
}


footer {
    bottom:0px;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fonds {
background-color: aliceblue;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: dimgray;
}


.logo {
    background-image: url(picture/Logo.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.Space{
    width: 5px;
    height: 5px;;
}

.titre{
    text-align: center;
    color: #e46e55;
}

.Menu{
    text-align: center;
    color: #e46e55;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ButMenu{
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-size: 1.6em;
    width: 200px;
    height: 43px;
    padding-top: 7px; /*permet le centrage vertical*/
    text-align: center;
    vertical-align:middle;
    color: gray();
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    box-shadow: 0 0 2px #009fff,
    0 -1px 0 #65b7e8;
}

.ButMenu:hover{
    color: white;
    background: #369edd;
    background: linear-gradient( #65b7e8, #008ce1);
}

.ButMenu:active{
    color: white;
    background: #1fa0ee;
    background: linear-gradient( #65b7e8, #027fca);
    box-shadow: 1px 1px 10px #009fff inset,
    0 1px 0 #65b7e8;
}

.FirstPage{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    border-color: #027fca;
}

.Article{
    text-align: justify;
    background: white;
    border: 3px #027fca dashed;
    border-radius: 10px;
    opacity: 0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
}

.bordure{
    width: 50px;
    height: 50px;;
}


