    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

        <bean id="userBo" class="resources.UserBoImpl" />
        <bean id="userSpringAction" class="action.UserSpringAction">
            <property name="userBo" ref="userBo" />
        </bean>

        <bean id="userAction" class="action.UserAction">
            <property name="userBo" ref="userBo" />
        </bean>

        <!-- ======================Dao Beans========================-->

        <bean id="daoFactory" class="resources.dao.DaoFactory">
            <constructor-arg index="0" value="jdbc:postgresql://localhost:5432/PJ6"/>
            <constructor-arg index="1" value="postgres"/>
            <constructor-arg index="2" value="Toysrusse"/>
        </bean>
        <bean id="topoDao" class="resources.dao.TopoDaoImpl"/>
        <bean id="siteDao" class="resources.dao.SiteDaoImpl"/>
        <bean id="commentaireDao" class="resources.dao.CommentaireDaoImpl"/>
        <bean id="accountDao" class="resources.dao.AccountDaoImpl"/>
        <bean id="addressDao" class="resources.dao.AdressDaoImpl"/>

        <!-- ======================Actions Beans========================-->

        <bean id="topoShow" class="action.menu.TopoShow">
            <property name="daoFactory" ref="daoFactory" />
            <property name="topoDao" ref="topoDao" />
        </bean>

        <bean id="siteShow" class="action.menu.SiteShow">
            <property name="daoFactory" ref="daoFactory" />
            <property name="topoDao" ref="topoDao" />
            <property name="siteDao" ref="siteDao" />
            <property name="commentaireDao" ref="commentaireDao" />
        </bean>

        <bean id="filter" class="action.menu.Filter">
            <property name="daoFactory" ref="daoFactory" />
            <property name="topoDao" ref="topoDao" />
            <property name="siteDao" ref="siteDao" />
        </bean>

        <bean id="connectTry" class="action.menu.connect.ConnectTry">
            <property name="daoFactory" ref="daoFactory" />
            <property name="accountDAO" ref="accountDao" />
            <property name="commentaireDAO" ref="commentaireDao" />
        </bean>

        <bean id="connect" class="action.menu.connect.Connect">
        </bean>

        <bean id="create" class="action.menu.connect.Create">
            <property name="daoFactory" ref="daoFactory" />
            <property name="accountDAO" ref="accountDao" />
            <property name="adressDao" ref="addressDao" />
            <property name="commentaireDAO" ref="commentaireDao" />
        </bean>

        <bean id="connected" class="action.menu.connect.Connected">
            <property name="daoFactory" ref="daoFactory" />
            <property name="accountDAO" ref="accountDao" />
            <property name="commentaireDAO" ref="commentaireDao" />
        </bean>


    </beans>

